.Content {
    padding: 20px;
    position: relative;
    top: 70px;
}

.Filter {
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
}

.CardWrapper {
    display: flex;
    flex-flow: row wrap;
}

.ModalTitle {
    margin-left: 4px;
}
.Error {
    color: #ff0033;
    margin-left: 5px;
}