.Label {
    text-transform: capitalize;
    margin-left: 7px;
}

.Checkbox {
    margin-right: 7px;
}

.InputSearch {
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 6px;
}

.Input {
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 6px;
    margin: 5px;
}

